.backlog_activities .backlog_report .table-content{
    position: relative;
    width: 100%;
    overflow-x: scroll;
}

.backlog_activities .backlog_report h5{
    margin-top: 40px;
}

.backlog_activities .backlog_report table{
    text-align: center;
    vertical-align: middle;
}

.backlog_activities .backlog_report table th{
    color: var(--tim-dark-blue);
}

.backlog_activities .backlog_report table td p{
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    margin-bottom: 0px;
}

.backlog_activities .backlog_report table td p.large-col{
    width: 150px;
    padding-left: 0px;
    padding-right: 0px;
}

.backlog_activities .backlog_report table td p.text-justify{
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.backlog_activities .backlog_report table td{
    color: var(--tim-dark-text);
}