.mask_generator .action-buttons{
    padding-top: 20px;
    padding-bottom: 20px;
}

.mask_generator button{
    background-color: var(--tim-blue);
    border: solid 1px var(--tim-blue);
    color: #fff;
    height: 38px;
}

.mask_generator button:hover{
    background-color: #fff !important;
    border: solid 1px var(--tim-blue) !important;
    color: var(--tim-blue) !important;
}

.mask_generator .header_generated_mask{
    display: flex;
    justify-content: space-between;
}

.mask_generator .header_generated_mask button{
    margin: 15px 0px;
}