/*--------------------------------------------*/
/*Initial Config*/
:root {
    --tim-dark-blue: #003264;
    --tim-blue: #376ea5;
    --tim-light-blue: #82b9e6;
    --tim-dark-red: #960028;
    --tim-red: #c80028;
    --tim-orange: #ff825a;
    --tim-dark-gray: #beb9b4;
    --tim-light-gray: #ebe6e1;
    --tim-dark-green: #008c55;
    --tim-light-green: #82c85a;
    --tim-dark-yelow: #dc8200;
    --tim-light-yelow: #fab932;
}

body, form, fieldset, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;
}

img {
    border:0; /* kills Gecko bug when img's are placed inside links */
    vertical-align:bottom; /* set vertical align to bottom for IE */
}

html {
    height:100%;
    overflow:auto; /* triggers 100% height in Opera 9.5 */
    overflow-y:scroll; /* creates a horizontal scrollbar, for a more consistent look & feel */
}

body {
    height:100%; /* helps make height 100% */
    font:100%/1.5 Arial, Helvetica, sans-serif; /* 100% = 16px, 93.75% = 15px, 87.5% = 14px, 81.25% = 13px, 75% = 12px - font-size in % prevents IE's resize bug */
    background:var(--tim-light-gray);
    color:#333;
}

h1, h2, h3, h4, h5, h6, p {
    margin:0 0 1em;
}

p, ul, ol {
    font-size:1em;
}

ul {
    margin:0 0 1em 25px;
    list-style:none;
}

h1 {font-size:1.6em;}

h2 {font-size:1.5em;}

h3 {font-size:1.4em;}

h4 {font-size:1.3em;}

h5 {font-size:1.2em;}

h6 {font-size:1.1em;}

fieldset {
    border:none;
}

form :focus {
    outline:0; /* removes Safari's blue border */
}

input, select, textarea {
    font-size:1em;
    font-family:Arial, Helvetica, sans-serif;
}

label {
    cursor:pointer;
    vertical-align:middle;
}

input {
    vertical-align:middle;
}

textarea {
    overflow:auto; /* removes scrollbar from IE when none is needed */
}

a {
    text-decoration:underline;
    color:#000;
    outline:0; /* removes dotted border */
}

a:visited {
    color: var(--tim-dark-blue);
}

a:hover, a:focus, a:active {
    color: var(--tim-dark-blue);
    /* add-custom:outline-rule-here; */
}

@font-face {
    font-family: 'Tim-Bold';
    src: url('../fonts/TIMSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Tim-Regular';
    src: url('../fonts/TIMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tim-Light';
    src: url('../fonts/TIMSans-Light.ttf') format('truetype');
}

/*End Initial Config*/
/*--------------------------------------------*/

.sign-in{
    width: 500px;
    margin: 0 auto;
    padding: 15px;
}

@media (max-width: 660px) {
    .sign-in{
        width: 100%;
        margin: 0;
        padding: 0px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }

    .sign-in .form{
        border-radius: 0px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        margin-bottom: 0px;
        position: relative;
        min-height: 100%;
        box-shadow: 0px 1px 4px var(--tim-dark-gray);
    }
}

.sign-in .logo{
    text-align: center;
    padding: 30px;
}

.sign-in .logo img{
    width: 120px;
}

.sign-in .none{
    display: none;
}

.sign-in .form{
    background-color: #fff;
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-radius: 7px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 4px var(--tim-dark-gray);
}

.sign-in .resource-id{
    width: 100%;
}

.sign-in .fields-api{
    width: 100%;
}

.sign-in input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Tim-Light;
    border: solid 1px var(--tim-light-gray);
    border-radius: 5px;
    padding: 0 10px;
}

.sign-in input:disabled{
    background-color: #fff;
    color: #333;
}

.sign-in select{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Tim-Light;
    border: solid 1px var(--tim-light-gray);
    border-radius: 5px;
    padding: 0 10px;
}

.sign-in select:disabled{
    background-color: #fff;
    color: #333;
}

.sign-in select option:disabled{
    background-color: #fff;
    color: #333;
}

.sign-in h1{
    font-size: 24px;
    font-family: Tim-Bold;
    color: var(--tim-dark-blue);
    text-align: center;
    margin-top: 30px;
}

.sign-in p.title{
    text-align: center;
    margin-top: -10px;
}

.sign-in p{
    font-size: 16px;
    font-family: Tim-Light;
}

.sign-in .intro{
    padding-bottom: 20px;
}

.sign-in .fields-button button{
    height: 40px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: var(--tim-blue);
    border: solid 1px var(--tim-blue);
    border-radius: 5px;
    color: #fff;
    text-align: center;
    transition: 0.3s;
}

.sign-in .fields-button button:hover{
    cursor: pointer;
    background-color: #fff;
    color: var(--tim-blue);
}

.sign-in .fields-button button p{
    line-height: 35px;
    font-family: Tim-Bold;
    vertical-align: middle;
}

.sign-in .feedback-msg p{
    margin-top: 15px;
    margin-bottom: 15px;
}

.sign-in .red-text{
    color: var(--tim-red);
}

.sign-in .green-text{
    color: var(--tim-dark-green);
}

.sign-in .back-to-login{
    border-top: solid 1px var(--tim-light-gray);
    padding-top: 15px;
    margin-top: 30px;
}

.sign-in .back-to-login p{
    font-size: 14px;
}

.sign-in .back-to-login a{
    font-family: Tim-Light;
    font-size: 14px;
}