.subcontractor{
    padding-top: 30px;
}

.subcontractor .action-buttons{
    padding-top: 30px;
    padding-bottom: 20px;
}

.subcontractor .action-buttons button{
    background-color: var(--tim-blue);
    border: solid 1px var(--tim-blue);
    color: #fff;
}

.subcontractor .action-buttons button:hover{
    background-color: #fff;
    border: solid 1px var(--tim-blue);
    color: var(--tim-blue);
}

.subcontractor .action-buttons button.recolect-data{
    background-color: var(--tim-dark-gray);
    border: solid 1px var(--tim-dark-gray);
    color: #fff;
}

.subcontractor .action-buttons button.recolect-data:hover{
    background-color: #fff;
    border: solid 1px var(--tim-blue);
    color: var(--tim-blue);
}

.subcontractor .action-buttons p{
    border: solid 1px #000;
    width: 800px;
    color: red;
}

@media (max-width: 860px) {
    .subcontractor .action-buttons p{
        width: 400px;
    }
}

@media (max-width: 463px) {
    .subcontractor .action-buttons p{
        width: 100%;
    }
}

.subcontractor{
    padding-top: 30px;
}

.subcontractor .accordion-header p{
    margin-bottom: 0px;
}

.subcontractor .accordion-body{
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.subcontractor .accordion-body ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.subcontractor .accordion-body ul li{
    flex: 50%;
    list-style-type: none;
    padding-bottom: 15px;
}

@media (max-width: 1000px) {
    .subcontractor .accordion-body ul li{
        flex: 100%;
    }
}

.subcontractor p.without_registers{
    color: #000;
    font-size: 16px;
    padding-top: 15px;
}

.subcontractor .accordion-body .motivo_reprovacao{
    padding-bottom: 0px;
}

.subcontractor .accordion-body .motivo_reprovacao label{
    padding-bottom: 10px;
}

.subcontractor .action-buttons{
    padding-top: 30px;
    padding-bottom: 20px;
}

.subcontractor .action-buttons button{
    background-color: var(--tim-blue);
    border: solid 1px var(--tim-blue);
    color: #fff;
}

.subcontractor .action-buttons button:hover{
    background-color: #fff;
    border: solid 1px var(--tim-blue);
    color: var(--tim-blue);
}

.subcontractor .action-buttons button.aprovar{
    background-color: var(--tim-dark-green);
    border: solid 1px var(--tim-dark-green);
    color: #fff;
}

.subcontractor .action-buttons button.aprovar:hover{
    background-color: #fff;
    border: solid 1px var(--tim-blue);
    color: var(--tim-blue);
}

.subcontractor .action-buttons button.reprovar{
    background-color: var(--tim-red);
    border: solid 1px var(--tim-red);
    color: #fff;
}

.subcontractor .action-buttons button.reprovar:hover{
    background-color: #fff;
    border: solid 1px var(--tim-blue);
    color: var(--tim-blue);
}

.subcontractor .action-buttons button.confirmar-reprovacao{
    background-color: var(--tim-red);
    border: solid 1px var(--tim-red);
    color: #fff;
}

.subcontractor .action-buttons button.confirmar-reprovacao:hover{
    background-color: #fff;
    border: solid 1px var(--tim-blue);
    color: var(--tim-blue);
}

.subcontractor .action-buttons button.cancelar{
    background-color: #fff;
    border: solid 1px var(--tim-red);
    color: var(--tim-red);
}

.subcontractor .action-buttons button.cancelar:hover{
    background-color: #fff;
    border: solid 1px var(--tim-blue);
    color: var(--tim-blue);
}
